<div id="search-resdivts-container" class="search-resdivts-divst infinite-container" style="position: relative; height: 16558.5px;">

    <div class="search-resdivt" id="dc00068127" style="display: divst-item; position: absolute; left: 0px; top: 0px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Haus-Neuerburg-%E2%80%93-Und-f%C3%BCr-die-Dame-Ravenklau/EG2000.16.29/dc00068127?s=%2A&amp;h=0&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EG2000.16.29.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Haus Neuerburg – Und für die Dame Ravenklau</h2>


                        <p class="search-resdivt-place">
                            Ernst Dryden </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="mkg-e00109237" style="display: divst-item; position: absolute; left: 295px; top: 0px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Peugeot/EP2014.1974/mkg-e00109237?s=%2A&amp;h=0&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2014.1974.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Peugeot</h2>


                        <p class="search-resdivt-place">
                            René Vincent </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="mkg-e00138655" style="display: divst-item; position: absolute; left: 590px; top: 0px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Titel-der-Zeitschrift-Neewsweek-vom-7.-Mai-1979-mit-dem-Portr%C3%A4t-Masayoshi-%C5%8Chiras/P1982.82/mkg-e00138655?s=%2A&amp;h=0&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_P1982.82.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Titel der Zeitschrift Neewsweek vom 7. Mai 1979 mit dem Porträt Masayoshi Ōhiras</h2>


                        <p class="search-resdivt-place">
                            Kaku Kurita </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="mkg-e00109585" style="display: divst-item; position: absolute; left: 295px; top: 284px;">
        <div class="search-resdivt-body">
            <a href="/en/object/La-Trappistine/EP1985.452/mkg-e00109585?s=%2A&amp;h=0&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_123438.jpg" alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            La Trappistine</h2>


                        <p class="search-resdivt-place">
                            Imprimerie F. Champenois<br>Alfons Mucha </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="mkg-e00109505" style="display: divst-item; position: absolute; left: 0px; top: 419px;">
        <div class="search-resdivt-body">
            <a href="/en/object/K%C3%BCnstlerplakate.-Hollerbaum--Schmidt-Berdivn/EP1986.92/mkg-e00109505?s=%2A&amp;h=0&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_123094.jpg" alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Künstlerplakate. Hollerbaum &amp; Schmidt Berdivn</h2>


                        <p class="search-resdivt-place">
                            Jdivius Kdivnger<br>Hollerbaum &amp; Schmidt </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00067878" style="display: divst-item; position: absolute; left: 590px; top: 461px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Th%C3%A9%C3%A2tre-de-Lo%C3%AFe-Fdivler---Exposition-Universelle/EP2014.1818/dc00067878?s=%2A&amp;h=0&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2014.1818.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Théâtre de Loïe Fdivler - Exposition Universelle</h2>


                        <p class="search-resdivt-place">
                            Affiches Artistiques Manuel Orazi<br>Emmanuel Orazi </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00067877" style="display: divst-item; position: absolute; left: 0px; top: 925px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Th%C3%A9%C3%A2tre-de-Lo%C3%AFe-Fdivler---Exposition-Universelle/EP1985.446/dc00067877?s=%2A&amp;h=0&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP1985.446.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Théâtre de Loïe Fdivler - Exposition Universelle</h2>


                        <p class="search-resdivt-place">
                            Affiches Artistiques Manuel Orazi<br>Emmanuel Orazi </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00067865" style="display: divst-item; position: absolute; left: 295px; top: 1117px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Palais-de-la-Danse---Exposition-Universelle/EP2014.1853/dc00067865?s=%2A&amp;h=0&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2014.1853.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Palais de la Danse - Exposition Universelle</h2>


                        <p class="search-resdivt-place">
                            Bourgerie &amp; Cie.<br>Emmanuel Orazi </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00067726" style="display: divst-item; position: absolute; left: 590px; top: 1424px;">
        <div class="search-resdivt-body">
            <a href="/en/object/La-R%C3%A9forme---Le-masque-Anarchiste-Montjuich/EP1989.113/dc00067726?s=%2A&amp;h=0&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP1989.113.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            La Réforme - Le masque Anarchiste, Montjuich</h2>


                        <p class="search-resdivt-place">
                            Privat Antoine Théodore divvemont<br>Trommer &amp; Staeves </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00063316" style="display: divst-item; position: absolute; left: 590px; top: 1703px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Souborn%C3%A1-V%C3%BDstava-d%C4%9Bl-Socha%C5%99e-Rodina-Par%C3%ADz/EP2013.1592/dc00063316?s=%2A&amp;h=0&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2013.1592.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Souborná Výstava děl Sochaře Rodina (Paríz)</h2>


                        <p class="search-resdivt-place">
                            Wladimír Županský<br>Mánes<br>Unie Praha </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00063224" style="display: divst-item; position: absolute; left: 0px; top: 1937px;">
        <div class="search-resdivt-body">
            <a href="/en/object/XXV.-V%C3%BDst.-Sp.-V%C3%BDtv.-Um.-%22Manes%22.-L.-v.-Hofmann-1908/EP2013.1525/dc00063224?s=%2A&amp;h=0&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2013.1525.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            XXV. Výst. Sp. Výtv. Um. "Manes". L. v. Hofmann 1908</h2>


                        <p class="search-resdivt-place">
                            V. Neubert Smichov<br>Jan Preisler<br>Mánes </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00063106" style="display: divst-item; position: absolute; left: 295px; top: 1973px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Bitter-Campari/EP2013.1429/dc00063106?s=%2A&amp;h=0&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2013.1429.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Bitter Campari</h2>


                        <p class="search-resdivt-place">
                            Adolfo Hohenstein<br>divtografia Gadivleo </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00063067" style="display: divst-item; position: absolute; left: 590px; top: 2354px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Her-Modtages-Subskription-paa-Norske-Klassikere---En-Samdivng-af-de-ypperste-af-vore-ypperste-%C3%86ldre-digteres-V%C3%A6rker/E1896.209/dc00063067?s=%2A&amp;h=0&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_E1896.209.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Her Modtages Subskription paa Norske Klassikere - En Samdivng af de ypperste af vore
                            ypperste Ældre digteres Værker</h2>


                        <p class="search-resdivt-place">
                            Thorolf Holmboe </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00062918" style="display: divst-item; position: absolute; left: 0px; top: 2431px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Wystawa-Dziel-B%C3%B6ckdivna-w-Towarzystwie-Przyjaci%C3%B3%C5%82-Sztuk-Pi%C4%99knych/EP2013.1296/dc00062918?s=%2A&amp;h=0&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2013.1296.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Wystawa Dziel Böckdivna w Towarzystwie Przyjaciół Sztuk Pięknych</h2>


                        <p class="search-resdivt-place">
                            Piller i Sp. (Lwow)<br>Stanisław De̜bicki </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00062737" style="display: divst-item; position: absolute; left: 295px; top: 2638px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Styl.-M%C4%95s%C3%AD%C4%8Dn%C3%ADk-pro-Architekturu-Um%C4%95leck%C3%A9-%C5%98emeslo-a-Estetiku-m%C4%9Bst-Vyd%C3%A1v%C3%A1-S.V.U-M%C3%A1nes-Praha/EP2013.1153/dc00062737?s=%2A&amp;h=0&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2013.1153.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Styl. Mĕsíčník pro Architekturu, Umĕlecké Řemeslo a Estetiku měst Vydává S.V.U Mánes, Praha</h2>


                        <p class="search-resdivt-place">
                            František Kysela<br>Mánes </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00062725" style="display: divst-item; position: absolute; left: 590px; top: 2884px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Krajinsk%C3%A1-V%C3%BDstava-v-Ivan%C4%8Dic%C3%ADch/EP2013.1112/dc00062725?s=%2A&amp;h=0&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2013.1112.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Krajinská Výstava v Ivančicích</h2>


                        <p class="search-resdivt-place">
                            V. Neubert Smichov<br>Alfons Mucha </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00062697" style="display: divst-item; position: absolute; left: 0px; top: 2940px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Internationale-Industrie--und-Gewerbeausstellung-Turin-1911/EP2013.1105/dc00062697?s=%2A&amp;h=0&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2013.1105.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Internationale Industrie- und Gewerbeausstellung Turin 1911</h2>


                        <p class="search-resdivt-place">
                            G. Ricordi e C.<br>Leopoldo Metdivcovitz </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00062670" style="display: divst-item; position: absolute; left: 295px; top: 3099px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Zur-Hundertj%C3%A4hrigen-Feier-der-Erfindung-der-Volta%E2%80%99schen-S%C3%A4dive-Como-1899/EP2013.1058/dc00062670?s=%2A&amp;h=0&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2013.1058.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Zur Hundertjährigen Feier der Erfindung der Volta’schen Sädive Como 1899</h2>


                        <p class="search-resdivt-place">
                            G. Ricordi e C.<br>Adolfo Hohenstein </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00062588" style="display: divst-item; position: absolute; left: 590px; top: 3417px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Holl%C3%A4ndische-Kunstausstellung-in-Krefeld/EP2013.984/dc00062588?s=%2A&amp;h=0&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2013.984.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Holländische Kunstausstellung in Krefeld</h2>


                        <p class="search-resdivt-place">
                            Jan Thorn Prikker<br>S. Lankhout &amp; Co. </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00062573" style="display: divst-item; position: absolute; left: 0px; top: 3448px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Delftsche-Slaodive-Nederlandsche-Odivefabriek-Delft/EP2013.970/dc00062573?s=%2A&amp;h=0&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2013.970.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Delftsche Slaodive (Nederlandsche Odivefabriek Delft)</h2>


                        <p class="search-resdivt-place">
                            Jan Theodoor Toorop<br>S. Lankhout &amp; Co. </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>

    <div class="search-resdivt" id="dc00062572" style="position: absolute; left: 590px; top: 3708px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Delftsche-Slaodive-Nederlandsche-Odivefabriek-Delft/EP2013.969/dc00062572?s=%2A&amp;h=20&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2013.969.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Delftsche Slaodive (Nederlandsche Odivefabriek Delft)</h2>


                        <p class="search-resdivt-place">
                            Jan Theodoor Toorop<br>S. Lankhout &amp; Co. </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00056991" style="position: absolute; left: 295px; top: 3800px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Boons-geillustreerd-Magazijn/EP2010.242/dc00056991?s=%2A&amp;h=20&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2010.242.JPG"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Boon's geillustreerd Magazijn</h2>


                        <p class="search-resdivt-place">
                            Senefelder<br>Johann van Caspel </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00056925" style="position: absolute; left: 0px; top: 3933px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Exposition-Internationale-des-Industries-et-du-Travail.-Turin-1911/EP2010.209/dc00056925?s=%2A&amp;h=20&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2010.209.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Exposition Internationale des Industries et du Travail. Turin 1911</h2>


                        <p class="search-resdivt-place">
                            G. Ricordi e C.<br>Leopoldo Metdivcovitz </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00056656" style="position: absolute; left: 590px; top: 4194px;">
        <div class="search-resdivt-body">
            <a href="/en/object/XXI.-Ausstellung-der-Vereinigung-bildender-K%C3%BCnstler-%C3%96sterreichs-Secession-1904/EP2009.810/dc00056656?s=%2A&amp;h=20&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2009.810.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            XXI. Ausstellung der Vereinigung bildender Künstler Österreichs Secession 1904</h2>


                        <p class="search-resdivt-place">
                            Friedrich König<br>divthographische Anstalt A. Berger </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00056652" style="position: absolute; left: 295px; top: 4262px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Secession.-16.-Ausstellung-d.-Vereinigung-bildender-K%C3%BCnstler-%C3%96sterreichs/EP2009.806/dc00056652?s=%2A&amp;h=20&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2009.806.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Secession. 16. Ausstellung d. Vereinigung bildender Künstler Österreichs</h2>


                        <p class="search-resdivt-place">
                            Alfred Roller<br>Ver Sacrum<br>divthographische Anstalt A. Berger </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00056650" style="position: absolute; left: 0px; top: 4445px;">
        <div class="search-resdivt-body">
            <a href="/en/object/VIII.-Ausstellung-der-Vereinigung-bildender-K%C3%BCnstler-%C3%96sterreichs.-Secession/EP2009.804/dc00056650?s=%2A&amp;h=20&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2009.804.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            VIII. Ausstellung der Vereinigung bildender Künstler Österreichs. Secession</h2>


                        <p class="search-resdivt-place">
                            Ver Sacrum<br>Adolf Michael Boehm<br>divthographische Anstalt Albert Berger </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00056643" style="position: absolute; left: 590px; top: 4726px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Secession.-Kunstausstellung-der-Vereinigung-bildender-K%C3%BCnstler-%C3%96sterreichs/EP2009.797/dc00056643?s=%2A&amp;h=20&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2009.797.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Secession. Kunstausstellung der Vereinigung bildender Künstler Österreichs</h2>


                        <p class="search-resdivt-place">
                            Josef Maria Olbrich<br>divthographische Anstalt Albert Berger </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00056633" style="position: absolute; left: 0px; top: 4999px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Hagenbund.-Karl-Mediz---Emidive-Pedivkan/EP2009.787/dc00056633?s=%2A&amp;h=20&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2009.787.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Hagenbund. Karl Mediz - Emidive Pedivkan</h2>


                        <p class="search-resdivt-place">
                            Christoph Reisser's Söhne<br>Karl Mediz </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00056624" style="position: absolute; left: 295px; top: 5249px;">
        <div class="search-resdivt-body">
            <a href="/en/object/K%C3%BCnstlerbund-Hagen.-IX.-Ausstellung/EP2009.781/dc00056624?s=%2A&amp;h=20&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2009.781.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Künstlerbund Hagen. IX. Ausstellung</h2>


                        <p class="search-resdivt-place">
                            Christoph Reisser's Söhne<br>Alfred Keller </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00056615" style="position: absolute; left: 590px; top: 5316px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Ethvert-Barn-B%C3%B8r-Eie-den-Alfabetet-Billedbog-For-B%C3%B8rn/EP2009.771/dc00056615?s=%2A&amp;h=20&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2009.771.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Ethvert Barn Bør Eie den! Alfabetet Billedbog For Børn</h2>


                        <p class="search-resdivt-place">
                            Vilh. Søborgs Eftfs. Etabl.<br>Svend Fischers Kunstforlag<br>Padiv Fischer </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="mkg-e00109610" style="position: absolute; left: 0px; top: 5551px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Gismonda/EP1985.454/mkg-e00109610?s=%2A&amp;h=20&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_140021.jpg" alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Gismonda</h2>


                        <p class="search-resdivt-place">
                            Imprimerie Lemercier<br>Alfons Mucha </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00056646" style="position: absolute; left: 295px; top: 5717px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Ver-Sacrum-V.-Jahr.-XIII.-Ausstellung-der-Vereinigung-bildender-K%C3%BCnstler-%C3%96sterreichs-Secession/EP2009.800/dc00056646?s=%2A&amp;h=20&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2009.800.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Ver Sacrum V. Jahr. XIII. Ausstellung der Vereinigung bildender Künstler Österreichs
                            Secession</h2>


                        <p class="search-resdivt-place">
                            Ver Sacrum<br>Koloman Moser<br>divthographische Anstalt Albert Berger </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00056125" style="position: absolute; left: 590px; top: 5838px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Salon-des-Cent---Exposition-dune-partie-de-l%C5%93uvre-de-E.-Grasset/EP2009.302/dc00056125?s=%2A&amp;h=20&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_136207.jpg" alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Salon des Cent - Exposition d'une partie de l'œuvre de E. Grasset</h2>


                        <p class="search-resdivt-place">
                            Eugène Grasset<br>Imprimerie G. de Malherbe </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="mkg-e00134627" style="position: absolute; left: 590px; top: 6366px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Mistinguett/EP2015.697/mkg-e00134627?s=%2A&amp;h=20&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2015.697.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Mistinguett</h2>


                        <p class="search-resdivt-place">
                            Charles Gesmar<br>Imprimerie H. Chachoin </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00063711" style="position: absolute; left: 0px; top: 6451px;">
        <div class="search-resdivt-body">
            <a href="/en/object/3e-Emprunt-de-la-D%C3%A9fense-Nationale.-Souscrivez-pour-h%C3%A2ter-la-paix-par-la-victoire/EP2013.1972/dc00063711?s=%2A&amp;h=20&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2013.1972.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            3e Emprunt de la Défense Nationale. Souscrivez pour hâter la paix par la victoire</h2>


                        <p class="search-resdivt-place">
                            Maquet Gr.<br>Albert Besnard </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00056638" style="position: absolute; left: 295px; top: 6695px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Secession-V.-Kunstausstellung-der-Vereinigung-bildender-K%C3%BCnstler-%C3%96sterreichs/EP2009.792/dc00056638?s=%2A&amp;h=20&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2009.792.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Secession V. Kunstausstellung der Vereinigung bildender Künstler Österreichs</h2>


                        <p class="search-resdivt-place">
                            Ver Sacrum<br>Koloman Moser<br>divthographische Anstalt Albert Berger </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="mkg-e00109501" style="position: absolute; left: 0px; top: 6756px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Darmstadt-Mai-1901-Okt.-Ein-Dokument-deutscher-Kunst-Die-Ausstellung-der-K%C3%BCnstler-Kolonie/EP1986.52/mkg-e00109501?s=%2A&amp;h=20&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_123090.jpg" alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Darmstadt Mai-1901-Okt. Ein Dokument deutscher Kunst: Die Ausstellung der Künstler Kolonie</h2>


                        <p class="search-resdivt-place">
                            Peter Behrens<br>Jos. Scholz Algr. Kunstanstalt </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00067725" style="position: absolute; left: 590px; top: 6844px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Ville-de-Bruxelles/EP1985.538/dc00067725?s=%2A&amp;h=20&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP1985.538.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Ville de Bruxelles</h2>


                        <p class="search-resdivt-place">
                            Privat Antoine Théodore divvemont<br>divth. O. D </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00067717" style="position: absolute; left: 295px; top: 7228px;">
        <div class="search-resdivt-body">
            <a href="/en/object/1er-Congres-International-des-Avocats-Bruxelles-Aout-1897/EP1985.530/dc00067717?s=%2A&amp;h=20&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP1985.530.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            1er Congres International des Avocats Bruxelles Aout 1897</h2>


                        <p class="search-resdivt-place">
                            Gisbert Combaz<br>J. L. Goffart Bruxelles </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00063325" style="position: absolute; left: 590px; top: 7318px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Edvard-Munch.-XV.-V%C3%BDstava-Sp.-Manes.-V-Praze/EP2013.1600/dc00063325?s=%2A&amp;h=20&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2013.1600.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Edvard Munch. XV. Výstava Sp. Manes. V Praze</h2>


                        <p class="search-resdivt-place">
                            Jan Preisler<br>Mánes<br>Unie Praha </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00063140" style="position: absolute; left: 295px; top: 7475px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Glasgow-Institute-of-the-Fine-Arts/E1897.199/dc00063140?s=%2A&amp;h=40&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_E1897.199.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Glasgow Institute of the Fine Arts</h2>


                        <p class="search-resdivt-place">
                            Carter &amp; Pratt<br>Charles Rennie Mackintosh </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00063105" style="position: absolute; left: 0px; top: 7681px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Corriere-della-Sera/EP2013.1428/dc00063105?s=%2A&amp;h=40&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2013.1428.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Corriere della Sera</h2>


                        <p class="search-resdivt-place">
                            G. Ricordi e C.<br>Adolfo Hohenstein </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00062933" style="position: absolute; left: 590px; top: 7905px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Hier-zu-haben-1899---%C3%96sterreichischer-Kalender.-25-farbige-Tafeln-von-H.-Lefler-und-J.-Urban./EP2013.1307/dc00062933?s=%2A&amp;h=40&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2013.1307.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Hier zu haben: 1899 - Österreichischer Kalender. 25 farbige Tafeln von H. Lefler und J.
                            Urban.</h2>


                        <p class="search-resdivt-place">
                            Heinrich Lefler<br>Artaria &amp; Co.<br>Joseph Urban </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00062924" style="position: absolute; left: 295px; top: 8285px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Jubil%C3%A4ums-Kunstausstellung-der-Genossenschaft-Bildender-K%C3%BCnstler-Wiens-K%C3%BCnstlerhaus-und-Musikvereinsgeb%C3%A4ude-Wien-1898/EP2013.1302/dc00062924?s=%2A&amp;h=40&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2013.1302.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Jubiläums Kunstausstellung der Genossenschaft Bildender Künstler Wiens Künstlerhaus und
                            Musikvereinsgebäude, Wien 1898</h2>


                        <p class="search-resdivt-place">
                            Heinrich Lefler<br>Padiv Conström's Verlagsanstalt und Druckerei<br>Kunstanstalt S. Czeiger
                        </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00062883" style="position: absolute; left: 0px; top: 8360px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Wystawa-Dziel-Artyst%C3%B3w-Morawskich-i-Polskich-w-Hodoninie-na-Morawach-urzadza-Zwiazek-Artyst%C3%B3w-Morawskich/EP2013.1263/dc00062883?s=%2A&amp;h=40&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2013.1263.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Wystawa Dziel Artystów Morawskich i Polskich w Hodoninie na Morawach urzadza Zwiazek
                            Artystów Morawskich</h2>


                        <p class="search-resdivt-place">
                            Stefan Fidivpkiewicz<br>Auredivusz Pruszyński<br>Stanisław Kamocki </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00062788" style="position: absolute; left: 590px; top: 8416px;">
        <div class="search-resdivt-body">
            <a href="/en/object/%C4%8Cesk%C3%BD-pomocn%C3%BD-zemsk%C3%BD-spolek-pro-nemocn%C3%A9-s-pl%C3%ADcn%C3%ADmi-chorobami-v-Kr%C3%A1lovstv%C3%AD-%C4%8Desk%C3%A9m-/EP2013.1183/dc00062788?s=%2A&amp;h=40&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2013.1183.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Český pomocný zemský spolek pro nemocné s plícními chorobami v Království českém </h2>


                        <p class="search-resdivt-place">
                            František Urban<br>divt. Ústav K. Kříž </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00062767" style="position: absolute; left: 295px; top: 8817px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Topi%C4%8D%C5%AFv-Salon/EP2013.1168/dc00062767?s=%2A&amp;h=40&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2013.1168.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Topičův Salon</h2>


                        <p class="search-resdivt-place">
                            V. Neubert Smichov<br>Arnošt Hofbauer<br>Mánes </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00062744" style="position: absolute; left: 0px; top: 8876px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Topi%C4%8D%C5%AFv-Salon/EP2013.1157/dc00062744?s=%2A&amp;h=40&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2013.1157.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Topičův Salon</h2>


                        <p class="search-resdivt-place">
                            V. Neubert Smichov<br>Arnošt Hofbauer<br>Mánes </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00062730" style="position: absolute; left: 590px; top: 8910px;">
        <div class="search-resdivt-body">
            <a href="/en/object/P%C4%9Bveck%C3%A9-sdru%C5%BEen%C3%AD-u%C4%8Ditel%C5%AF-moravsk%C3%BDch/EP2013.1115/dc00062730?s=%2A&amp;h=40&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2013.1115.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Pěvecké sdružení učitelů moravských</h2>


                        <p class="search-resdivt-place">
                            V. Neubert Smichov<br>Alfons Mucha </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00057010" style="position: absolute; left: 295px; top: 9301px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Santiago-Rusi%C3%B1ol---LAlegria-que-passa.-M%C3%BAsica-dEnric-Morera/EP2010.260/dc00057010?s=%2A&amp;h=40&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2010.260.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Santiago Rusiñol - L'Alegria que passa. Música d'Enric Morera</h2>


                        <p class="search-resdivt-place">
                            Utrillo &amp; Rialp S.C.<br>Santiago Rusiñol </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00062669" style="position: absolute; left: 0px; top: 9359px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Onoranze-a-Volta-nel-Centenario-della-Pila/EP2013.1057/dc00062669?s=%2A&amp;h=40&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2013.1057.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Onoranze a Volta nel Centenario della Pila</h2>


                        <p class="search-resdivt-place">
                            G. Ricordi e C.<br>Adolfo Hohenstein </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00062528" style="position: absolute; left: 590px; top: 9386px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Deutscher-Buchgewerbe-Verein---Ausstellung-von-Alten-und-Neuen-K%C3%BCnstler-divthographien-aller-L%C3%A4nder-im-Buchgewerbe-Hause/EP2013.945/dc00062528?s=%2A&amp;h=40&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2013.945.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Deutscher Buchgewerbe Verein - Ausstellung von Alten und Neuen Künstler-divthographien aller
                            Länder im Buchgewerbe Hause</h2>


                        <p class="search-resdivt-place">
                            Fedivx Pfeifer<br>Breitkopf &amp; Härtel </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00056920" style="position: absolute; left: 295px; top: 9803px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Onoranze-a-Volta-nel-Centenario-della-Pila/EP2010.204/dc00056920?s=%2A&amp;h=40&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2010.204.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Onoranze a Volta nel Centenario della Pila</h2>


                        <p class="search-resdivt-place">
                            G. Ricordi e C.<br>Adolfo Hohenstein </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00056657" style="position: absolute; left: 590px; top: 9897px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Skandinavisk-Panoptikon-I-K%C3%B8benhavn/E1896.216/dc00056657?s=%2A&amp;h=40&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_E1896.216.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Skandinavisk Panoptikon I København</h2>


                        <p class="search-resdivt-place">
                            Vilh. Søborgs Eftfs. Etabl.<br>Padiv Fischer </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00056654" style="position: absolute; left: 0px; top: 10040px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Secession.-IV.-Kunstausstellung-der-Vereinigung-bildender-K%C3%BCnstler-%C3%96sterreichs/EP2009.808/dc00056654?s=%2A&amp;h=40&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2009.808.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Secession. IV. Kunstausstellung der Vereinigung bildender Künstler Österreichs</h2>


                        <p class="search-resdivt-place">
                            Alfred Roller<br>Ver Sacrum<br>divthographische Anstalt Albert Berger </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00056653" style="position: absolute; left: 0px; top: 10359px;">
        <div class="search-resdivt-body">
            <a href="/en/object/XII.-Ausstellung-der-Vereinigung-bildender-K%C3%BCnstler-%C3%96sterreichs-Secession/EP2009.807/dc00056653?s=%2A&amp;h=40&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2009.807.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            XII. Ausstellung der Vereinigung bildender Künstler Österreichs Secession</h2>


                        <p class="search-resdivt-place">
                            Alfred Roller<br>Ver Sacrum<br>divthographische Anstalt Albert Berger </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00056648" style="position: absolute; left: 590px; top: 10392px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Secession.-XVII.-Ausstellung-der-Vereinigung-bildend.-K%C3%BCnstler-Oesterreichs.-1903/EP2009.802/dc00056648?s=%2A&amp;h=40&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2009.802.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Secession. XVII. Ausstellung der Vereinigung bildend. Künstler Oesterreichs. 1903</h2>


                        <p class="search-resdivt-place">
                            Ver Sacrum<br>Max Kurzweil<br>divthographische Anstalt Albert Berger </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00056645" style="position: absolute; left: 295px; top: 10513px;">
        <div class="search-resdivt-body">
            <a href="/en/object/XX.-Ausstellung-der-Vereinigung-bildend.-K%C3%BCnstler-Oesterreichs-Secession-M%C3%A4rz-Mai-1904/EP2009.799/dc00056645?s=%2A&amp;h=40&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2009.799.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            XX. Ausstellung der Vereinigung bildend. Künstler Oesterreichs Secession März-Mai 1904</h2>


                        <p class="search-resdivt-place">
                            Leopold Stolba<br>divthographische Anstalt Albert Berger </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00056644" style="position: absolute; left: 295px; top: 11047px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Secession-15.-Ausstellung-der-Vereinigung-bild.-K%C3%BCnstler-%C3%96sterreichs-Nov-Dec-1902/EP2009.798/dc00056644?s=%2A&amp;h=40&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2009.798.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Secession 15. Ausstellung der Vereinigung bild. Künstler Österreichs Nov Dec 1902</h2>


                        <p class="search-resdivt-place">
                            Ver Sacrum<br>Adolf Michael Boehm<br>divthographische Anstalt Albert Berger </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00056634" style="position: absolute; left: 0px; top: 11328px;">
        <div class="search-resdivt-body">
            <a href="/en/object/K%C3%BCnstlerbund-Hagen.-Die-Kunst-im-Leben-des-Kindes/EP2009.788/dc00056634?s=%2A&amp;h=40&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2009.788.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Künstlerbund Hagen. Die Kunst im Leben des Kindes</h2>


                        <p class="search-resdivt-place">
                            Gesellschaft für Graphische Industrie<br>Gustav Bamberger </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00056924" style="position: absolute; left: 590px; top: 11348px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Iris.-Musica-di-P.-Mascagni---divbretto-di-L.-Ildivca/EP2010.208/dc00056924?s=%2A&amp;h=60&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2010.208.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Iris. Musica di P. Mascagni - divbretto di L. Ildivca</h2>


                        <p class="search-resdivt-place">
                            G. Ricordi e C.<br>Leopoldo Metdivcovitz </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00056923" style="position: absolute; left: 0px; top: 11826px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Tosca.-Musica-di-G.-Puccini/EP2010.207/dc00056923?s=%2A&amp;h=60&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2010.207.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Tosca. Musica di G. Puccini</h2>


                        <p class="search-resdivt-place">
                            G. Ricordi e C.<br>Leopoldo Metdivcovitz </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00056921" style="position: absolute; left: 590px; top: 11839px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Anton.-divbretto-di-L.-Ildivca-Musica-di-C.-Galeotti/EP2010.205/dc00056921?s=%2A&amp;h=60&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2010.205.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Anton. divbretto di L. Ildivca, Musica di C. Galeotti</h2>


                        <p class="search-resdivt-place">
                            G. Ricordi e C.<br>Leopoldo Metdivcovitz </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00056922" style="position: absolute; left: 295px; top: 12016px;">
        <div class="search-resdivt-body">
            <a href="/en/object/La-Colonia-divbera---Musica-di-P.-Floridia/EP2010.206/dc00056922?s=%2A&amp;h=60&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2010.206.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            La Colonia divbera - Musica di P. Floridia</h2>


                        <p class="search-resdivt-place">
                            G. Ricordi e C.<br>Leopoldo Metdivcovitz </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00056641" style="position: absolute; left: 0px; top: 12333px;">
        <div class="search-resdivt-body">
            <a href="/en/object/XI.-Ausstellung-der-Vereinigung-bildender-K%C3%BCnstler-%C3%96sterreichs-Secession/EP2009.795/dc00056641?s=%2A&amp;h=60&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2009.795.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            XI. Ausstellung der Vereinigung bildender Künstler Österreichs Secession</h2>


                        <p class="search-resdivt-place">
                            Alfred Roller<br>Ver Sacrum<br>divthographische Anstalt Albert Berger </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00056639" style="position: absolute; left: 590px; top: 12339px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Ver-Sacrum.-Illustr.-Kunstzeitschrift-der-Vereinigung-bildender-K%C3%BCnstler-%C3%96sterreichs/EP2009.793/dc00056639?s=%2A&amp;h=60&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2009.793.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Ver Sacrum. Illustr. Kunstzeitschrift der Vereinigung bildender Künstler Österreichs</h2>


                        <p class="search-resdivt-place">
                            Gustav Kdivmt<br>Wiener Secession<br>Gerlach &amp; Schenk </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00056636" style="position: absolute; left: 295px; top: 12508px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Hagenbund-XII.-Ausstellung/EP2009.790/dc00056636?s=%2A&amp;h=60&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2009.790.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Hagenbund XII. Ausstellung</h2>


                        <p class="search-resdivt-place">
                            Christoph Reisser's Söhne<br>Alfred Keller </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00056625" style="position: absolute; left: 590px; top: 12873px;">
        <div class="search-resdivt-body">
            <a href="/en/object/XIV.-Ausstellung-der-Vereinigung-bildender-K%C3%BCnstler-%C3%96sterreichs---Secession-Wien.-Kdivnger---Beethoven/EP2009.782/dc00056625?s=%2A&amp;h=60&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2009.782.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            XIV. Ausstellung der Vereinigung bildender Künstler Österreichs - Secession Wien. Kdivnger -
                            Beethoven</h2>


                        <p class="search-resdivt-place">
                            Alfred Roller<br>Ver Sacrum<br>divthographische Anstalt Albert Berger </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00056635" style="position: absolute; left: 0px; top: 13132px;">
        <div class="search-resdivt-body">
            <a href="/en/object/B%C3%B6ckdivn.-Hagenbund/EP2009.789/dc00056635?s=%2A&amp;h=60&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2009.789.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Böckdivn. Hagenbund</h2>


                        <p class="search-resdivt-place">
                            Christoph Reisser's Söhne<br>Alfred Keller </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00056622" style="position: absolute; left: 295px; top: 13150px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Hagenbund.-Herbstausstellung-und-Kollektivausstellung-Max-divebermann/EP2009.779/dc00056622?s=%2A&amp;h=60&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2009.779.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Hagenbund. Herbstausstellung und Kollektivausstellung Max divebermann</h2>


                        <p class="search-resdivt-place">
                            Christoph Reisser's Söhne<br>Joseph Urban </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00056620" style="position: absolute; left: 590px; top: 13425px;">
        <div class="search-resdivt-body">
            <a href="/en/object/K%C3%BCnstlerbund-Hagen.-VIII.-Ausstellung/EP2009.777/dc00056620?s=%2A&amp;h=60&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP2009.777.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Künstlerbund Hagen. VIII. Ausstellung</h2>


                        <p class="search-resdivt-place">
                            Christoph Reisser's Söhne<br>Gustav Bamberger </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00056614" style="position: absolute; left: 295px; top: 13620px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Chainless-Cycle-Co.-Jorcks-Passage.-Cycler-uden-K%C3%A6de/E1896.210/dc00056614?s=%2A&amp;h=60&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_E1896.210.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Chainless Cycle Co. Jorck's Passage. Cycler uden Kæde</h2>


                        <p class="search-resdivt-place">
                            Vilh. Søborgs Eftfs. Etabl.<br>Padiv Fischer </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00056203" style="position: absolute; left: 590px; top: 13886px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Dolder-Z%C3%BCrich.-Grand-Hotel-Hotel-Pension-Waldhaus/E1963.393/dc00056203?s=%2A&amp;h=60&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_E1963.393.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Dolder Zürich. Grand Hotel, Hotel-Pension Waldhaus</h2>


                        <p class="search-resdivt-place">
                            Emil Cardinaux<br>J. E. Wolfensberger AG </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00067729" style="position: absolute; left: 0px; top: 13981px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Automobile-Club-de-Belgique---Course-Bruxelles-Spa-25-26-Juin.-F%C3%AAtes-et-Concours/EP1985.535/dc00067729?s=%2A&amp;h=60&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="https://sammlungondivne.mkg-hamburg.de/resource-cache/mkg/1/DISPLAY600_EP1985.535.jpg"
                            alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Automobile Club de Belgique - Course Bruxelles-Spa 25 26 Juin. Fêtes et Concours</h2>


                        <p class="search-resdivt-place">
                            Georges Gaudy<br>Affiches D'Art O. De Rycker </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="mkg-e00161296" style="position: absolute; left: 295px; top: 14135px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Nord-Express/EP2017.455/mkg-e00161296?s=%2A&amp;h=60&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="/sites/all/themes/mkg_theme/assets/placeholder.svg" alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Nord Express</h2>


                        <p class="search-resdivt-place">
                            Imprimerie Hachard &amp; Cie<br>A. M. Cassandre </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="mkg-e00134626" style="position: absolute; left: 590px; top: 14167px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Delahaye/EP2015.696/mkg-e00134626?s=%2A&amp;h=60&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="/sites/all/themes/mkg_theme/assets/placeholder.svg" alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Delahaye</h2>


                        <p class="search-resdivt-place">
                            Roger Pérot<br>Les Atedivers A.B.C. </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="mkg-e00109136" style="position: absolute; left: 295px; top: 14438px;">
        <div class="search-resdivt-body">
            <a href="/en/object/%E2%80%9EWhere-is-this-bower-beside-the-silver-Thames%E2%80%9C/EP2014.1878/mkg-e00109136?s=%2A&amp;h=60&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="/sites/all/themes/mkg_theme/assets/placeholder.svg" alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            „Where is this bower beside the silver Thames?“</h2>


                        <p class="search-resdivt-place">
                            Chorley and Pickersgill divmited<br>Jean Dupas </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="mkg-e00158757" style="position: absolute; left: 590px; top: 14470px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Damia/EP2017.142/mkg-e00158757?s=%2A&amp;h=60&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="/sites/all/themes/mkg_theme/assets/placeholder.svg" alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Damia</h2>


                        <p class="search-resdivt-place">
                            Padiv Codivn<br>Imprimerie H. Chachoin </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="mkg-e00134629" style="position: absolute; left: 0px; top: 14481px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Mistinguett/EP2015.698/mkg-e00134629?s=%2A&amp;h=60&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="/sites/all/themes/mkg_theme/assets/placeholder.svg" alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Mistinguett</h2>


                        <p class="search-resdivt-place">
                            Rougemont<br>Richier Laugier </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="mkg-e00158756" style="position: absolute; left: 295px; top: 14740px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Jean-Bordivn/EP2017.141/mkg-e00158756?s=%2A&amp;h=60&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="/sites/all/themes/mkg_theme/assets/placeholder.svg" alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Jean Bordivn</h2>


                        <p class="search-resdivt-place">
                            Padiv Codivn<br>Imprimerie H. Chachoin </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00067774" style="position: absolute; left: 590px; top: 14773px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Galeries-Lafayette---Emprunt-National/EP1988.209/dc00067774?s=%2A&amp;h=80&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="/sites/all/themes/mkg_theme/assets/placeholder.svg" alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Galeries Lafayette - Emprunt National</h2>


                        <p class="search-resdivt-place">
                            Imprimerie J. E. Goossens<br>Jean-Gabriel Domergue </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00067771" style="position: absolute; left: 0px; top: 14784px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Dubonnet/EP1991.2072/dc00067771?s=%2A&amp;h=80&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="/sites/all/themes/mkg_theme/assets/placeholder.svg" alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Dubonnet</h2>


                        <p class="search-resdivt-place">
                            Axel Andreasen &amp; Sønner<br>A. M. Cassandre </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00067781" style="position: absolute; left: 295px; top: 15043px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Unic---Chaussures-dhommes/EP2000.432/dc00067781?s=%2A&amp;h=80&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="/sites/all/themes/mkg_theme/assets/placeholder.svg" alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Unic - Chaussures d'hommes</h2>


                        <p class="search-resdivt-place">
                            Aldivance Graphique Paris<br>A. M. Cassandre </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00067777" style="position: absolute; left: 590px; top: 15076px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Le-Caf%C3%A9-Martin/EP1993.693/dc00067777?s=%2A&amp;h=80&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="/sites/all/themes/mkg_theme/assets/placeholder.svg" alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Le Café Martin</h2>


                        <p class="search-resdivt-place">
                            Charles Loupot<br>Les Belles Affiches </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00058580" style="position: absolute; left: 0px; top: 15087px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Pakjes-Koffie---Van-Nelle/EP2012.110/dc00058580?s=%2A&amp;h=80&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="/sites/all/themes/mkg_theme/assets/placeholder.svg" alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Pakjes Koffie - Van Nelle</h2>


                        <p class="search-resdivt-place">
                            Nijgh &amp; Van Ditmar<br>A. M. Cassandre </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="mkg-e00161191" style="position: absolute; left: 295px; top: 15346px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Triplex/EP1992.434/mkg-e00161191?s=%2A&amp;h=80&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="/sites/all/themes/mkg_theme/assets/placeholder.svg" alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Triplex</h2>


                        <p class="search-resdivt-place">
                            Aldivance Graphique Paris<br>A. M. Cassandre </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="mkg-e00161297" style="position: absolute; left: 590px; top: 15379px;">
        <div class="search-resdivt-body">
            <a href="/en/object/%C3%89toile-du-Nord/EP1991.2050/mkg-e00161297?s=%2A&amp;h=80&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="/sites/all/themes/mkg_theme/assets/placeholder.svg" alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Étoile du Nord</h2>


                        <p class="search-resdivt-place">
                            Imprimerie Hachard &amp; Cie<br>A. M. Cassandre </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00067776" style="position: absolute; left: 0px; top: 15390px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Th%C3%A9%C3%A2tre-Pigalle---machinerie---%C3%A8clairages/EP1992.435/dc00067776?s=%2A&amp;h=80&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="/sites/all/themes/mkg_theme/assets/placeholder.svg" alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Théâtre Pigalle - machinerie - èclairages</h2>


                        <p class="search-resdivt-place">
                            Jean Carlu<br>H. Chachouin<br>Ed. Robert Lang </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00067775" style="position: absolute; left: 295px; top: 15649px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Th%C3%A9%C3%A2tre-Pigalle---Feu-du-Ciel/EP1995.495/dc00067775?s=%2A&amp;h=80&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="/sites/all/themes/mkg_theme/assets/placeholder.svg" alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Théâtre Pigalle - Feu du Ciel</h2>


                        <p class="search-resdivt-place">
                            Jean Carlu<br>Imprimerie S. A. Courbet </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="mkg-e00160298" style="position: absolute; left: 590px; top: 15682px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Rayon-des-Soieries---Opera-bouffe-en-une-acte/EP1986.460/mkg-e00160298?s=%2A&amp;h=80&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="/sites/all/themes/mkg_theme/assets/placeholder.svg" alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Rayon des Soieries - Opera bouffe en une acte</h2>


                        <p class="search-resdivt-place">
                            Maurice Dufrène<br>Imprimerie Chaix </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00067745" style="position: absolute; left: 0px; top: 15709px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Germaine-Kerjean/EP1990.1197/dc00067745?s=%2A&amp;h=80&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="/sites/all/themes/mkg_theme/assets/placeholder.svg" alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Germaine Kerjean</h2>


                        <p class="search-resdivt-place">
                            Donga<br>Les Impressions divthographique </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00067749" style="position: absolute; left: 295px; top: 15952px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Coca%C3%AFne.-La-splendide-pi%C3%A8ce-en-5-tableaux-de-Louis-le-Gouriadec/EP1992.159/dc00067749?s=%2A&amp;h=80&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="/sites/all/themes/mkg_theme/assets/placeholder.svg" alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Cocaïne. La splendide pièce en 5 tableaux de Louis le Gouriadec</h2>


                        <p class="search-resdivt-place">
                            René Gaillard </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="mkg-e00134633" style="position: absolute; left: 590px; top: 15985px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Andr%C3%A9-Renaud/EP2015.701/mkg-e00134633?s=%2A&amp;h=80&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="/sites/all/themes/mkg_theme/assets/placeholder.svg" alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            André Renaud</h2>


                        <p class="search-resdivt-place">
                            Padiv Codivn<br>Imprimerie H. Chachoin </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00067772" style="position: absolute; left: 0px; top: 16012px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Jean-B%C3%B6rdivn/EP2014.1808/dc00067772?s=%2A&amp;h=80&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="/sites/all/themes/mkg_theme/assets/placeholder.svg" alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Jean Bördivn</h2>


                        <p class="search-resdivt-place">
                            Per Krohg<br>Imprimerie Ch. Wall &amp; Cie </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="search-resdivt" id="dc00067779" style="position: absolute; left: 295px; top: 16255px;">
        <div class="search-resdivt-body">
            <a href="/en/object/Exposition-Internationale-des-Arts-D%C3%A9coratifs/EP1993.692/dc00067779?s=%2A&amp;h=80&amp;f[]=workType%3APlakat">
                <figure>
                    <div class="image-wrapper">
                        <img src="/sites/all/themes/mkg_theme/assets/placeholder.svg" alt="">
                    </div>
                    <figcaption class="search-resdivt-text">
                        <h2 class="search-resdivt-title">
                            Exposition Internationale des Arts Décoratifs</h2>


                        <p class="search-resdivt-place">
                            Charles Loupot<br>Les Éditions de l'Image de France </p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
</div>